* {
  margin: 0;
  padding: 0;
  border-box: box-sizing;

}
h1 {
  text-align: center;
}
div {
  border: 1px solid black;
  width: 300px;
  margin: 10px;
}

#title1, #title2, #title3  {
  width: 100px;
  float: right;
  margin: 0;
  color: #ffffff;
}
#title1 {
  background-color: #009900;
}
#title2 {
  background-color: #0066cc;
}

#title3 {
  background-color: #cc0066;
}
p {
  margin: 10px;
  clear: both;

}

#section1, #section2, #section3 {
  background-color: lightgrey;
  float: left;
  margin: 5px;
}

@media (min-width: 992px) {
  #section1, #section2, #section3 {
    width: 30%;

  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #section1, #section2 {
    width: 48%;
    float: left;
  }
  #section3 {
    width: 97.5%;
    /*margin-left: 2%;*/
    clear: both;

  }
}
